{% load static %}

<!-- Footer -->
<footer class="text-center text-lg-start text-dark" style="background-color: #e1c8ab; margin-top: 250px; height: auto">
	<!-- Social media section-->
	<section class="d-flex justify-content-center p-4 text-black" style="background-color: #2e17dc">

		<div id="delivery-banner" class="row text-center">
            <div class="col text-white">
                <h4 class="logo-font my-1">Free shipping and returns on orders over
                    ${{ free_delivery_threshold }} !<i class="fas fa-shipping-fast"></i></h4>
            </div>
        </div>

	</section>
	<!-- Social media section end-->

	<!-- Newseletter, Shipping, Contact and Payment session-->
	<section class="">
		<div class="container text-center text-md-start mt-5">
			<div class="row mt-3">
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<h6 class="text-capitalize fw-bold">Newsletter</h6>
					<hr class="mb-4 mt-0 d-inline-block mx-auto"
						style="width: 100px; background-color: #2013dd; height: 2px" />
					<p>
						<a href="{% url 'newsletter' %}" aria-label="visit our Newsletter (opens in new tab)"
							rel="noopener" target="_blank"><i class="fas fa-rss"></i> Newsletter</a>

					</p>

				</div>
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
					<h6 class="text-capitalize fw-bold">Shipping & Delivery</h6>
					<hr class="mb-4 mt-0 d-inline-block mx-auto"
						style="width: 100px; background-color: #2013dd; height: 2px" />
					<p>
						<i class="fas fa-truck"></i> We ship with
						<a href="{% url 'shipping' %}" aria-label="(opens in new tab)" rel="noopener" target="_blank">
							<div>
								<i class="fab  fa-ups fa-lg"></i>
								<i class="fab  fa-dhl fa-lg"></i>
								<i class="fab  fa-fedex fa-3x"></i>
							</div>
						</a>
					</p>

				</div>

				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

					<h6 class="text-capitalize fw-bold">Accepted Payments</h6>
					<hr class="mb-4 mt-0 d-inline-block mx-auto"
						style="width: 100px; background-color: #2013dd; height: 2px" />
					<p>
						<a href="https://www.visa.se/" class="text-dark">
							<i class="fab fa-lg fa-cc-visa fa-lg"></i> Visa</a>
					</p>
					<p>
						<a href="https://www.mastercard.com/global/en.html" class="text-dark">
							<i class="fab fa-lg fa-cc-mastercard fa-lg"></i> Mastercard</a>
					</p>
				</div>

				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<h6 class="text-capitalize fw-bold">Contact</h6>
					<hr class="mb-4 mt-0 d-inline-block mx-auto"
						style="width: 100px; background-color:  #2013dd; height: 2px" />
					<p>
						<a href="{% url 'contact' %}" aria-label="contact our Customer Support page (opens in new tab)"
							rel="noopener" target="_blank"><i class="fas fa-headset"></i> Customer Support
						</a>

					</p>
					<p><i class="fas fa-envelope mr-3"></i> info@eazy-shopper.com</p>
					<p><i class="fas fa-phone mr-3"></i> + 46 123 456 7890</p>
					<p><i class="fas fa-print mr-3"></i> + 46 123 456 7890</p>

				</div>

				<div class="mx-auto bg-warning" style="width:100px">
					<h6 class="text-capitalize fw-bold">Social Media</h6>
					<hr class="mb-4 mt-0 d-inline-block mx-auto"
						style="width: 100px; background-color:  #2013dd; height: 2px" />
			
					<a href="https://www.facebook.com/" class="text-black me-4" aria-label="find us on Facebook (opens in new tab)"
						rel="noopener" target="_blank"><i class="fab fa-facebook-f"></i>
					</a>
		
					<a href="https://twitter.com/" class="text-black me-4" aria-label="find us on Twitter (opens in new tab)"
						rel="noopener" target="_blank"><i class="fab fa-twitter"></i>
					</a>
		
					<a href="https://www.pinterest.com/" class="text-black me-4" aria-label="find us on Pinterest (opens in new tab)"
						rel="noopener" target="_blank"><i class="fab fa-pinterest"></i>
					</a>
		
					<a href="https://www.instagram.com/" class="text-black me-4" aria-label="find us on Instagram (opens in new tab)"
						rel="noopener" target="_blank"><i class="fab fa-instagram"></i>
					</a>
		
				</div>
		

			</div>
		</div>
	</section>
	<!-- End of section end-->

	<!-- Copyright -->
	<div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 2)">
		&copy 2022 Eazy-Shopper
	</div>

</footer>
	<!-- footer end -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.thumb a').click(function (e) {
				e.preventDefault();
				$('.mainImage img').attr('src', $(this).attr("href"));
			})
		})
	</script>
